node-linker=hoisted
shamefully-hoist=true
dedupe-peer-dependents=true
supportedArchitectures[os][]=current
supportedArchitectures[os][]=linux
supportedArchitectures[cpu][]=current
supportedArchitectures[cpu][]=x64
